{% extends 'Postfront/base1.html' %}
{% load static %}

{% block title %}
{{profile}}
{% endblock %}

{% block body %}
<style>
    @media (min-width:1250px){
        #cover{
            width:800px; height:400px;
        }

    }
    @media (max-width:1040px){
        
        .card-img-fluid{
            width:100px !important;
            height:100px !important;
        }
    
    }
@media (max-width:641px){
    #cover{
        width:100% !important;
        
    }
    .card-img-fluid{
        width:50px !important;
        height:50px !important;
    }
  
    #myChart1{
        height:100px !important;
    }

}
</style>
<div class="profile">
    
    <div class="back my-2" style="display:flex;justify-content:center;text-align:center;background-color:black">
        <div class="card bg-dark text-white">
            <img src="{{profile.background.url}}" id="cover" class="card-img" alt="...">
            <div class="card-img-overlay">
                {% comment %} <img src="{{profile.main_photo.url}}" class="rounded" alt="..."> {% endcomment %}
                
            </div>
          </div>
        
    </div>
    <div class="prof my-4 mx-2">
        <div class="detail" style="display:flex;justify-content:center;text-align:center; border:2px solid black;flex-wrap:wrap;">
            <h4 class="de mx-4"><b>Username:{{profile.user}}</b></h4>
            <h4 class="de mx-4"><b>Posts:{{post_count}}</b></h4>
            <h4 class="de mx-4"><b>Likes Received:{{total_likes}}</b></h4>
            <h4 class="de mx-4"><b>Comments Received:{{total_comments}}</b></h4>
            <h4 class="de mx-4"><b>Friends:{{profile.get_friends_count}}</b></h4>
        </div>
        <div class="alert alert-secondary" role="alert" style="display:flex;justify-content:center;text-align:center; border:2px solid black;flex-wrap:wrap;">
           <b><h4>Desciption :</h4></b> 
           <p><h4>{{profile.about}}</h4></p>
          </div>
        <div class="friend my-2" style="display:flex;justify-content:center;text-align:center;">
            {% if request.user != profile.user %}
            <button class="btn btn-primary mx-4">Follow</button>
            <button class="btn btn-info">Message</button>
            {% else %}
            

            {% endif %}
        </div>
        <!-- Button trigger modal -->
           <div style="display:flex;justify-content:center;text-align:center;">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Update Profile
            </button>
           </div>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content" >
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Update {{profile.user}} profile</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %} {{form.as_p}}
                            <div style="display:flex;justify-content:center;text-align:center;"><button class="btn btn-primary">Update</button></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                    </div>
                </div>
                </div>
  </div>
  
        <hr>
        {% comment %} My idea is to
        1)Show image and text posted by me
        2)SHow visualization of likes,comment,posts,groups
        {% endcomment %}
        <div class="engagement" style="display:flex;justify-content:center;text-align:center;flex-direction:column;">
            <h4 style="width:80%; margin:0 auto;"><b>POSTS</b></h4>
            <div><hr></div>
            <div class="profile_post my-2" style="display:flex;flex-wrap:wrap;justify-content:start;width:80%; margin:0 auto;">
                {% if posts %}
                {% for p in posts %}
                <div class="card text-white bg-dark mb-3 mx-2 my-2">
                 <img src="{{p.image.url}}" class="card-img-fluid" alt="..." style="width:200px;height:200px;">
                 <div class="card-body">
                 
                 </div>
               </div>
     
                {% endfor %}
                {%  else %}
                <div style="width:80%;margin:0 auto;">

                    <h1>No Post yet</h1>
                </div>

                {% endif %}
              </div>
            {% comment %} <div><hr></div>
            <h4 style="width:80%; margin:0 auto;"><b>Like vs POST</b></h4>
            <hr>
            <div class="chart my-2" style="width:80%; margin:0 auto;">
                <canvas id="myChart"  height="100"></canvas>
            </div> {% endcomment %}
            {% comment %} <hr>
            <h4 style="width:80%; margin:0 auto;"><b>Engagement Rate</b></h4>
            <hr>
            <div class="chart my-2" style="width:80%; margin:0 auto;">
                <canvas id="myChart1" style="height:400px;"></canvas>
            </div> {% endcomment %}
        </div>
        

    </div>

</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js">
  
</script>
<script>
    //On 22-3-22 Improve 1)Visualization 2)Layout and previous issue
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for post in p %} 'Post No:{{post}}', {% endfor %}],
        datasets: [{
            label: 'LIKES on POST',
            data: [{% for like in l %}{{like}}, {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        
    }
});   

const ct = document.getElementById('myChart1').getContext('2d');
const myChart1 = new Chart(ct, {
type: 'pie',
data: {
    labels: ["Engagement Rate","Not"],
    datasets: [{
        label: 'Engagement Rate',
        data: [{{engagement_rate}},100-{{engagement_rate}}],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
    }]
},
options: {  
    responsive: true,
    maintainAspectRatio: false
}

});   
</script>
{% endblock %}